
[Unit]
Description=cfs-state-reporter reports configuration level of the system
DefaultDependencies=no
After=multi-user.target

[Service]
Environment="MODULEFLAG=-m"
Environment="MODULENAME=cfs.status_reporter"
Type=oneshot
ExecStart=/usr/bin/python3 ${MODULEFLAG} ${MODULENAME}

[Install]
WantedBy=multi-user.target
