
[Unit]
Description=cfs-state-reporter reports configuration level of the system
DefaultDependencies=no
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/lib/cfs_state_reporter/venv/bin/cfs_state_reporter

[Install]
WantedBy=multi-user.target
